<!DOCTYPE html>
<html lang="en">
<% include header.ejs %>
<body>
<% include navbar.ejs %>
 <div id="container">
     <h1>This is H1 inside a div</h1>
     <div class="linksDiv">
        <% for(var index = 0; index < appData.charactersArray.length; index++){ %>
            <div class="characterLink">
                <a href='character.ejs/<%= appData.charactersArray[index] %>'>
                <%= appData.charactersArray[index].characterFirstName %>
                </a>
            </div>
        <% } %>
     </div>
 </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../Scripts/navbar.js"></script>
</html>