<!DOCTYPE html>
<html lang="en">
    <% include header.ejs %>
    <body>
    <% include navbar.ejs %>
        <div id="container">
            <h1>Characters list</h1>
                <div class="linksDiv">
                    <ul id="characterList">
                        <% characterData.charactersArray.forEach(function(character){ %>
                            <li>
                                <a href="character.ejs/<%= character.characterID %>">
                                    <div class="characterCardDiv" style="background-image:<%= character.cardImageLocation %>;">      
                                        <div class="characterText">
                                            <%= character.characterFirstName %> <%= character.characterLastName %>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
        </div>
    </body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../Scripts/navbar.js"></script>
</html>