<!DOCTYPE html>
<html lang="en">
<% include header.ejs %>
    <style>
        div.contactDiv{
            display:inline-block;
            border:5px solid white;
            margin-left:auto;
            margin-right:auto;
            margin-top:50px;
            padding-left:15px;
            padding-top:15px;
            padding-bottom:15px;
        }
        div.contactDiv > div#fromDiv{
            color: white;
            font-family: Verdana, Geneva, Tahoma, Arial, Sans-Serif;           
        }
        div.contactDiv > div#emailBodyDiv{
            margin-top:10px;
            color: white;
            font-family: Verdana, Geneva, Tahoma, Arial, Sans-Serif;
            
        }
        div.contactDiv > div#emailBodyDiv > textarea{
            display:inline;
            /*float:right;
            margin-top:-15px;*/
        }
    </style>
<body>
<% include navbar.ejs %>
    <div class="contactDiv">
        <div id="fromDiv">
            From: <input id="fromInput" type="text"/>
        </div>
        <div id="emailBodyDiv">
            <div style="display:inline-block;position:inherit;">Body:</div> <textarea id="emailBodyTextarea" cols="15" rows="3"></textarea>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../Scripts/navbar.js"></script>
</html>