<!DOCTYPE html>
<html lang="en">
<% include header.ejs %>
    <style>
        
    </style>
<body>
<% include navbar.ejs %>
    <div class="contactDiv">
        <table>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../Scripts/navbar.js"></script>
</html>