<!DOCTYPE html>
<html lang="en">
<% include header.ejs %>
<body>
<% include navbar.ejs %>
    <div id="homeDiv">
        <h1 style="color:white;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            padding-left:30px;padding-top:50px;">404 Error!</h1>
        <h2 style="color:white;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            padding-left:50px;">Try links from navbar.</h2>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../Scripts/navbar.js"></script>
</html>