<!DOCTYPE html>
<html lang="en">
<% include header.ejs %>
<body>
<% include navbar.ejs %>
    <div id="homeDiv">
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../Scripts/navbar.js"></script>
</html>